# Gradle関連
.gradle/
build/

# ビルド成果物
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# OS関連
.DS_Store
Thumbs.db

# IDE（統合開発環境）関連
# Eclipse
.classpath
.project
.settings/
bin/

# IntelliJ IDEA
*.iml
.idea/
out/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# パッケージングされたGradle Wrapperファイル
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# その他の一般的な無視ファイル
*.log
*.tmp
*.temp

# ローカル設定ファイル
*.local
